<!DOCTYPE html>
<html>
<head>
  <title>Flight Deck</title>
  <%= stylesheet_link_tag :all %>
  <% #javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %>
  <%= javascript_include_tag 'rails-jquery' %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
    
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
